body {
  background-color: #242424;
  color: #FFFFFF;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.item-details {
}

.item-info {
  background-color: #181818;
  padding: 5px 15px;
  border-radius: 5px;
  width: 100%;
}

.item-info table {
  padding: 15px 5px;
  width: inherit;
}

.item-info td {
  padding: 5px;
}

.item-info-box {
  padding: 10px 50px
}

.item-img {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

/*
.item-img:hover {
  width: inherit;
  height: inherit;
  -webkit-box-shadow: inset 0px 0px 20px rgba(173,40,173,0.7);
  -moz-box-shadow: inset 0px 0px 20px rgba(173,40,173,0.7);
  box-shadow: inset 0px 0px 20px rgba(173,40,173,0.7);
}
*/

.item-img img {
  position: relative;
  border-radius: 5px;
  padding:1px;
  border:1px solid #b4b6b9;
  background-color:#181818;
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
  width: 56px;
  height: 56px;
}

.item-name {
  padding: 15px 50px;
  font-family: 'Lato', sans-serif;
  font-size: 37px;
}

.realm-details {
  font-family: 'Lato', sans-serif;
  padding: 2px 25px;
  font-size: 18px;
}

.realm-name {
  font-family: 'Lato', sans-serif;
  font-size: 37px;
  font-weight: 200;
  padding: 25px 25px;
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 75px;
  font-weight: bold;
  padding: 25px 25px;
}

.with-underline:hover {
  text-decoration: underline;
}
